[mcu hexa]
#serial: /dev/serial/by-id/
canbus_uuid: 44e13030d2df
canbus_interface: can0

###########################################################################
# IO1-6
# The IO_pins of IO1-IO6 feature level shifting, allowing for external 5V/24V input/output.
# The GND_pin is connected to a controllable NMOSFET.
# This allows IO1-IO6 to be used as a 2-pin/3-pin fan, 5V NeoPixel RGB control/servo, or 24V proximity switch input.
# When used as general IO inputs, the GND MOSFET must be in a normally closed state.
###########################################################################
# hexa:PC13   #IO.1
# hexa:PA10   #IO.1.GND(IO_PWR_1)
#######################################
# This enable the GND
# [output_pin IO.1]
# pin: hexa:PA10
# # pwm: false
# # cycle_time: 0.010
# value: 1
# shutdown_value: 0
#######################################
# hexa:PB6    #IO.2
# hexa:PB7    #IO.2.GND(IO_PWR_2)
# hexa:PB4    #IO.3
# hexa:PB5    #IO.3.GND(IO_PWR_3)
# hexa:PA14   #IO.4
# hexa:PB2    #IO.4.GND(IO_PWR_4)
# hexa:PA9    #IO.5
# hexa:PA15   #IO.5.GND(IO_PWR_5)
# hexa:PB15   #IO.6
# hexa:PA8    #IO.6.GND(IO_PWR_6)


[fan_generic extruder_partfan]
pin: hexa:PA10   #IO.1.GND(IO_PWR_1)
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
tachometer_pin: hexa:PC13   #IO.1
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.

#[controller_fan my_controller_fan]
#pin:
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
#fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
#idle_timeout:
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
#idle_speed:
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
#heater:
#stepper:
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.

#[temperature_fan my_temp_fan]
#pin:
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
#sensor_type:
#sensor_pin:
#control:
#max_delta:
#min_temp:
#max_temp:
#   See the "extruder" section for a description of the above parameters.
#pid_Kp:
#pid_Ki:
#pid_Kd:
#   The proportional (pid_Kp), integral (pid_Ki), and derivative
#   (pid_Kd) settings for the PID feedback control system. Klipper
#   evaluates the PID settings with the following general formula:
#     fan_pwm = max_power - (Kp*e + Ki*integral(e) - Kd*derivative(e)) / 255
#   Where "e" is "target_temperature - measured_temperature" and
#   "fan_pwm" is the requested fan rate with 0.0 being full off and
#   1.0 being full on. The pid_Kp, pid_Ki, and pid_Kd parameters must
#   be provided when the PID control algorithm is enabled.
#pid_deriv_time: 2.0
#   A time value (in seconds) over which temperature measurements will
#   be smoothed when using the PID control algorithm. This may reduce
#   the impact of measurement noise. The default is 2 seconds.
#target_temp: 40.0
#   A temperature (in Celsius) that will be the target temperature.
#   The default is 40 degrees.
#max_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when the sensor temperature exceeds the set value.
#   The default is 1.0.
#min_speed: 0.3
#   The minimum fan speed (expressed as a value from 0.0 to 1.0) that
#   the fan will be set to for PID temperature fans.
#   The default is 0.3.
#gcode_id:
#   If set, the temperature will be reported in M105 queries using the
#   given id. The default is to not report the temperature via M105.



[static_digital_output hexa_neopixel_gnd]
pins: hexa:PB7    #IO.2.GND(IO_PWR_2)
#   A comma separated list of pins to be set as GPIO output pins. The
#   pin will be set to a high level unless the pin name is prefaced
#   with "!". This parameter must be provided.

#[neopixel hexa_neopixel]
#pin: hexa:PB6    #IO.2
##   The pin connected to the neopixel. This parameter must be
##   provided.
#chain_count:1
##   The number of Neopixel chips that are "daisy chained" to the
##   provided pin. The default is 1 (which indicates only a single
##   Neopixel is connected to the pin).
#color_order: GRB
##   Set the pixel order required by the LED hardware (using a string
##   containing the letters R, G, B, W with W optional). Alternatively,
##   this may be a comma separated list of pixel orders - one for each
##   LED in the chain. The default is GRB.
#initial_RED: 1.0
#initial_GREEN: 1.0
#initial_BLUE: 1.0
##initial_WHITE: 0.0
##   See the "led" section for information on these parameters.


###########################################################################
# IO7-14
# IO7-14 have 4.7kΩ pull-up resistors; It can be used as both an output and an input, with a signal level of 3.3V.
# It can be used as an input such as a limit switch/filament sensor or as a separate pin output.
###########################################################################

# hexa:PB1      #IO.7
# hexa:PB0    #IO.8
# hexa:PA7     #IO.9
# hexa:PA6    #IO.10
# hexa:PA5      #IO.11
# hexa:PA4    #IO.12
# hexa:PC14    #IO.13
# hexa:PC15   #IO.14

###########################################################################
# Power Switch 1-6
# When the switch is in the OFF position, you can control the power on and off through the klipper.
###########################################################################
# hexa:PB14    #PWR.1
# hexa:PB13    #PWR.2
# hexa:PB12    #PWR.3
# hexa:PB2     #PWR.4
# hexa:PB10    #PWR.5
# hexa:PB11    #PWR.6

[output_pin PWR.1]
pin: hexa:PB14
# pwm: false
# cycle_time: 0.010
value: 0
shutdown_value: 1

[output_pin PWR.2]
pin: hexa:PB13
# pwm: false
# cycle_time: 0.010
value: 0
shutdown_value: 1

[output_pin PWR.3]
pin: hexa:PB12
# pwm: false
# cycle_time: 0.010
value: 0
shutdown_value: 1

[output_pin PWR.4]
pin: hexa:PB2
# pwm: false
# cycle_time: 0.010
value: 0
shutdown_value: 1

[output_pin PWR.5]
pin: hexa:PB10
# pwm: false
# cycle_time: 0.010
value: 0
shutdown_value: 1

[output_pin PWR.6]
pin: hexa:PB11
# pwm: false
# cycle_time: 0.010
value: 0
shutdown_value: 1

###########################################################################
# ADC IN 1-4
# ADC channels 1-4 have 4.7kΩ pull-up resistors; you can connect ADC sensors, such as thermistors. The following is an example:
###########################################################################
#[temperature_sensor ADC1]
#sensor_type: Generic 3950
#sensor_pin: hexa:PA0
#min_temp:-200
#max_temp:300
#
#
##[temperature_sensor ADC2]
#sensor_type: Generic 3950
#sensor_pin: hexa:PA1
#min_temp:-200
#max_temp:300
#
##[temperature_sensor ADC3]
#sensor_type: Generic 3950
#sensor_pin: hexa:PA2
#min_temp:-200
#max_temp:300
#
##[temperature_sensor ADC4]
#sensor_type: Generic 3950
#sensor_pin: hexa:PA3
#min_temp:-200
#max_temp:300
