# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu et0]
canbus_uuid: 91daabe520a1

[temperature_sensor SHT36T0_mcu]
sensor_type: temperature_mcu
sensor_mcu: et0


[extruder]
step_pin: et0:gpio7
dir_pin: et0:gpio6
enable_pin: !et0:gpio14
heater_pin: et0:gpio23
sensor_type: Generic 3950
sensor_pin: et0:gpio27

min_temp: -10
max_temp: 300
min_extrude_temp: 180
pressure_advance: 0.025 #0.031                #to be calibrated
pressure_advance_smooth_time: 0.03 #to be calibrated
max_power: 1.0
max_extrude_cross_section: 999
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_only_accel: 10000
full_steps_per_rotation: 200
microsteps: 16
rotation_distance: 4.68 #--> 3% kleiner als #4.82 #4.60 
nozzle_diameter: 0.400
filament_diameter: 1.750
nozzle_diameter: 0.400

control: pid
pid_kp: 42
pid_ki: 7
pid_kd: 64

[tmc2209 extruder]
uart_pin: et0:gpio15
run_current: 0.85
hold_current: 0.100
interpolate: true
#hold_current: 0.1
#driver_TPOWERDOWN: 20
sense_resistor: 0.110
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

[fan_generic T0_partfan]
pin: et0:gpio13

[heater_fan T0_hotend_fan]
pin: et0:gpio21
heater: extruder
heater_temp: 50.0

[lis2dw lis2dw_T0] 
cs_pin: et0:gpio12
spi_software_sclk_pin: et0:gpio2
spi_software_mosi_pin: et0:gpio3
spi_software_miso_pin: et0:gpio4
axes_map: x,z,y



# Commented out - HappyToolchanger handles T-macros now
#[gcode_macro T0]
#variable_color: ""
#gcode:
#  SELECT_TOOL T=0


[tool T0]
tool_number: 0
extruder: extruder
fan: T0_partfan
params_park_x = 7.500000000000002
params_park_y = -24.450000000000007
params_park_z = 254.558
gcode_x_offset: 0.000
gcode_y_offset: 0.000
gcode_z_offset: 0.000

# detection_pin entfernt - Pin wird jetzt von tool_probe genutzt

params_input_shaper_type_x: '2hump_ei'
params_input_shaper_freq_x: 77.2
params_input_shaper_damping_ratio_x: 0.01
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 41.2
params_input_shaper_damping_ratio_y: 0.01



# deadband: 2



#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 50.2
#*# shaper_type_y = zv
#*# shaper_freq_y = 38.8



# [probe]
# pin: ^et0:gpio22
# tool: 0
# z_offset: -1.51
# speed: 15.0
# samples: 3
# samples_result: median
# sample_retract_dist: 2.0
# samples_tolerance: 0.02
# samples_tolerance_retries: 10
# activate_gcode:
#     _TAP_PROBE_ACTIVATE HEATER=extruder

[tool_probe T0]
pin: ^et0:gpio22
z_probe: probe_eddy_ng my_eddy
#z_probe_home: probe_eddy_ng my_eddy  # Z-Homing: Eddy (kein Aufheizen)
#z_probe_qgl: none                     # QGL: Tap
#z_probe_mesh: probe_eddy_ng my_eddy  # Bed Mesh: Eddy (Scanning)
tool: 0
x_offset: 0
y_offset: 0
z_offset: 0
speed: 3.0
lift_speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.05
samples_tolerance_retries: 5
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder
deactivate_gcode:
    _TAP_PROBE_DEACTIVATE HEATER=extruder

# QGL Probe-Auswahl fuer T0 (tap oder eddy)
[gcode_macro _T0_QGL]
variable_coarse_probe: "eddy"
variable_fine_probe: "eddy"
gcode:
  {action_respond_info("T0 QGL: coarse=%s fine=%s" % (printer["gcode_macro _T0_QGL"].coarse_probe, printer["gcode_macro _T0_QGL"].fine_probe))}
